<div class="relative overflow-hidden bg-white text-white">
  <div class="pt-3 sm:absolute sm:inset-y-0 sm:block sm:h-full sm:w-full" aria-hidden="true">
    <div class="relative mx-auto h-full max-w-7xl">
    </div>
  </div>

  <div class="relative pt-2 pb-16 sm:pb-24 bg-gradient-to-r from-teal-600 to-teal-900 ">
    <div class="fixed w-full bg-[#BA9C7A] top-0 z-30 p-3">
      <div class="mx-auto max-w-5xl px-4 sm:px-6">
        <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
          <div class="flex flex-1 items-center md:absolute md:inset-y-0 md:left-0">
          </div>
          <div class="hidden pt-2 sm:w-screen md:flex md:space-x-10 font-Prompt uppercase">
            <a href="/" class="text-3xl text-white font-Prompt font-thin uppercase invisible sm:visible md:visible">
                <span class="text-4xl text-white font-medium font-Prompt uppercase">Samoray</span>
            </a>
            
            <a href="/nl/diensten" class="p-1 text-xl font-thin text-white hover:text-white">Diensten</a>

            <a href="/nl/about" class="p-1 text-xl font-thin text-white hover:text-white">Over ons</a>

            <a href="/nl/sectoren" class="p-1 text-xl font-thin text-white hover:text-white">Sectoren</a>

            <a href="/nl/contact" class="p-1 text-xl font-thin text-white hover:text-white">Contact</a>
            
            <a data-tf-popup="VO53CcNA" data-tf-size="100" class="p-1 font-Prompt font-normal text-xl text-white uppercase invisible sm:visible md:invisible lg:visible">Gratis Consultatie</a>

          </div>
        </nav>
      </div>
    </div>
    
<div class="md:bg-[url('https://res.cloudinary.com/the-ruby-lab/image/upload/v1668609022/DFN-17_esoaiz.png')] lg:bg-[url('https://res.cloudinary.com/the-ruby-lab/image/upload/v1668609022/DFN-17_esoaiz.png')] pb-8 sm:pb-12 lg:pb-12">
    <div class="overflow-hidden pt-8 sm:pt-12 lg:relative lg:py-48">
      <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div>
          <div class=" bg-white p-6">
            <div class="mt-6 sm:max-w-xl">
              <h1 class="text-4xl font-Prompt uppercase tracking-tight text-gray-800 sm:text-7xl">Contact</h1>
              <hr>
                <p class="mt-4 text-xl uppercase font-light font-Prompt text-gray-800 sm:text-3xl">Het blootleggen van beveiligingsproblemen alleen is niet genoeg om uw bedrijf beter te beveiligen. Daarom helpen we onze klanten ook bij het definiëren van bruikbare stappen om deze kwetsbaarheden te verhelpen.</p>
            </div>

        </div>
      </div>
    </div>
    </div>
</div>
    

<div class="bg-gradient-to-r from-teal-600 to-teal-900 pb-8 sm:pb-12 lg:pb-12 h-full ">
    <div class=" pt-8 sm:pt-12 lg:relative">
      <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-1 lg:px-8">
        <div>
          <div class=" bg-gradient-to-r from-teal-600 to-teal-900 p-5">
            <div class="mt-6">
              <h1 class="text-2xl font-Prompt uppercase tracking-tight text-white sm:text-5xl">Praat VANDAAG MET EEN SAMORAY EXPERT</h1>
              <hr>
            </div>
        </div>
                 <div data-tf-widget="vSahqHZQ" data-tf-opacity="100" style="width:100%;height:900px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
      </div>
    </div>
    </div>
</div>


<div class="relative bg-white">
  <div class="absolute inset-0">
    <div class="absolute inset-y-0 left-0 w-1/2 bg-white"></div>
  </div>
  <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5">
    <div class="bg-gray-50 py-16 px-4 sm:px-6 lg:col-span-2 lg:px-8 lg:py-24 xl:pr-12">
      <div class="mx-auto max-w-lg">
        <h2 class="text-2xl font-Prompt uppercase tracking-tight text-gray-900 sm:text-5xl">Laten we starten</h2>
        <p class="mt-3 text-lg font-Prompt uppercase leading-6 text-gray-500">Of u nu net begint aan uw beveiligingsreis of testen naar een hoger niveau wilt tillen, uw bedrijf beveiligen is wat wij doen en we kijken ernaar uit om met u samen te werken.</p>
        <dl class="mt-8 text-base text-gray-500">
          <div>
          </div>
          <div class="mt-6">
            <dt class="sr-only">Telefoon</dt>
            <dd class="flex">
              <!-- Heroicon name: outline/phone -->
              <svg class="h-6 w-6 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
              </svg>
              <span class="ml-3 text-white font-Prompt uppercase">016 41 42 88</span>
            </dd>
          </div>
          <div class="mt-3">
            <dt class="sr-only">Email</dt>
            <dd class="flex">
              <!-- Heroicon name: outline/envelope -->
              <svg class="h-6 w-6 flex-shrink-0 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
              </svg>
              <span class="ml-3 text-white font-Prompt uppercase">support@samoray.digital</span>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="bg-white py-16 px-4 sm:px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
      <div class="mx-auto max-w-lg lg:max-w-none">

<div data-tf-widget="VO53CcNA" data-tf-opacity="100" style="width:100%;height:1000px;"></div><script src="//embed.typeform.com/next/embed.js"></script>


      </div>
    </div>
  </div>
</div>




<footer class="bg-gradient-to-r from-teal-600 to-teal-900">
  <div class="mx-auto max-w-7xl overflow-hidden py-12 px-4 sm:px-6 lg:px-8 uppercase font-Prompt">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="#" class="text-base text-white uppercase font-Prompt">Nieuws</a>
      </div>

      <div class="px-5 py-2">
        <a href="/nl/diensten" class="text-base text-white uppercase font-Prompt">Diensten</a>
      </div>

      <div class="px-5 py-2">
        <a href="/nl/about" class="text-base text-white uppercase font-Prompt">Over ons</a>
      </div>

      <div class="px-5 py-2">
        <a href="/nl/sectoren" class="text-base text-white uppercase font-Prompt">Sectoren</a>
      </div>

      <div class="px-5 py-2">
        <a href="/nl/contact" class="text-base text-white uppercase font-Prompt">Contact</a>
      </div>

      <div class="px-5 py-2">
        <a href="#" class="text-base text-white uppercase font-Prompt">Partners</a>
      </div>
    </nav>
    <div class="mt-8 flex justify-center space-x-6">
      
      <a href="https://www.linkedin.com/company/samorayagency/" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">LinkedIn</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M19.2 3H4.8C3.8 3 3 3.8 3 4.8V19.2C3 20.2 3.8 21 4.8 21H19.2C20.2 21 21 20.2 21 19.2V4.8C21 3.8 20.2 3 19.2 3ZM8.4 18.3H5.7V10.2H8.4V18.3ZM7.1 8.7C6.2 8.7 5.4 8 5.4 7.1 5.4 6.2 6.2 5.4 7.1 5.4 8 5.4 8.7 6.2 8.7 7.1 8.7 8 8 8.7 7.1 8.7ZM18.3 18.3H15.6V13.5C15.6 12.8 15 12.2 14.3 12.2 13.5 12.2 12.9 12.8 12.9 13.5V18.3H10.2V10.2H12.9V11.3C13.4 10.6 14.3 10 15.2 10 16.9 10 18.3 11.5 18.3 13.2V18.3Z" clip-rule="evenodd" />
        </svg>
      </a>

      <a href="#" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Instagram</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
        </svg>
      </a>

      <a href="#" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
        </svg>
      </a>
    </div>
    
    <p class="mt-8 text-center text-base text-white">
                                      <img class="" width="20" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1670587636/Ontwerp_zonder_titel-4_n8besd.png" alt="">
      &copy; 2022 Samoray, Handelsmerk van Eliama & Otileo. Alle rechten voorbehouden.</p>
  </div>
</footer>

