<div class="relative overflow-hidden bg-white text-white">
  <div class="pt-2 sm:absolute sm:inset-y-0 sm:block sm:h-full sm:w-full" aria-hidden="true">
    <div class="relative mx-auto h-full max-w-7xl">
    </div>
  </div>

  <div class="relative pb-16 sm:pb-24 bg-black">
    <div>
      <div class="mx-auto max-w-5xl px-4 sm:px-6">
        <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
          <div class="flex flex-1 items-center md:absolute md:inset-y-0 md:left-0">
            <div class="flex w-full items-center justify-between md:w-auto">
              <a data-tf-popup="VO53CcNA" data-tf-size="100">
                <span class="text-2xl p-1 text-white font-Ubuntu">Samoray</span>
              </a>
            </div>
          </div>
          <div class="hidden md:flex md:space-x-10 pt-2 font-Ubuntu">
            <a href="#oplossing" class="font-medium text-white hover:text-white">Oplossing</a>

            <a href="#hacking" class="font-medium text-white hover:text-white">Hacking</a>

            <a href="#prijs" class="font-medium text-white hover:text-white">Prijs</a>

            <a href="#faq" class="font-medium text-white hover:text-white">Veelgestelde vragen</a>
          </div>
          <div class="hidden pt-3 md:absolute md:inset-y-0 md:right-0 md:flex md:items-center md:justify-end">
            <span class="inline-flex rounded-md shadow">
              <a data-tf-popup="VO53CcNA" data-tf-size="100" class="inline-flex items-center rounded-md border border-transparent bg-blue-600 font-Ubuntu px-4 py-2 text-base font-semibold text-white hover:bg-orange-500 hover:text-white">Contacteer ons</a>
            </span>
          </div>
        </nav>
      </div>
    </div>

    <main class="mx-auto mt-10 max-w-7xl pt-15 px-4 sm:mt-24">
      <div class="text-center">
        <div class="justify-center max-w-full">
          <img src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1668181511/DFN-6_dtlmpm.png" alt="..." class="shadow rounded max-w-full align-middle" />
        </div>
        <h1 class="text-7xl font-semibold tracking-tight bg-gradient-to-r from-gray-700 to-gray-200 text-transparent bg-clip-text sm:text-7xl md:text-7xl">
          <span class="block xl:inline p-2 font-Ubuntu" style="font-size: 80px">Verdediging komt door Aanval.</span>
        </h1>
        <p class="mx-auto mt-3 max-w-md text-3xl text-gray-400 sm:text-2lg md:mt-5 md:max-w-3xl md:text-2xl font-Ubuntu">Laat uw bedrijf beschermen tegen aanvallen van hackers. Begrijp uw invalshoeken, jaag op zwaktepunten, test systemen en repareer kwetsbaarheden voordat iemand anders weet dat ze bestaan.</p>
        <a data-tf-popup="ztEX5BcT" data-tf-size="100" class="font-Ubuntu mx-auto mt-3 max-w-md text-xl font-semibold text-white sm:text-2lg md:mt-5 md:max-w-3xl md:text-2xl">Klik hier en test de huidige bescherming van uw bedrijf. ></a>
        <script src="//embed.typeform.com/next/embed.js"></script>
        <div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">
        </div>
      </div>
    </main>
  </div>
</div>



<div class="bg-white" id="oplossing">
  <div class="mx-auto max-w-5xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-lg font-semibold text-black uppercase"></h2>
      <p class="mt-1 text-7xl font-bold tracking-tight text-gray-900 sm:text-7xl lg:text-7xl font-Ubuntu">Beveiligd door <span class="underline decoration-red-700">RED</span> team en <span class="underline decoration-blue-600">BLUE</span> team.</p>
      <p class="mx-auto mt-3 max-w-xl text-2xl text-gray-500 font-semibold font-Ubuntu">In 3-stappen beschermen we tegen de nieuwste praktijken op het gebied van penetratietesten, API-testen, applicatietesten, netwerkentesten, ISO27001, socialhacking en meer.</p>
    </div>
  </div>
</div>







<div class="relative overflow-hidden bg-dark-900 pt-16 pb-32">
  <div class="relative">
    <div class="lg:mx-auto lg:grid lg:max-w-5xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
        <div>
          <div>
          </div>
          <div class="mt-6">
            <h2 class="text-7xl font-bold tracking-tight text-white">Audit door Aanvallen!</h2>
            <p class="mt-4 text-2xl text-white">Wij zijn zelf hackers en wij doen onze standaard- en expertaanvallen op uw bedrijf zonder schade. Hiermee brengen wij in kaart waar uw digitale kwetsbaarheden zijn. Aan het einde van deze eerste stap ontvangt uw een rapport hiervan. Het zogenaamd, NINJA-rapport.</p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-mr-48 pl-4 sm:pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0 bg-gradient-to-r from-red-500 to-pink-500 rounded-lg">
            <div class="p-20">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 12.75c1.148 0 2.278.08 3.383.237 1.037.146 1.866.966 1.866 2.013 0 3.728-2.35 6.75-5.25 6.75S6.75 18.728 6.75 15c0-1.046.83-1.867 1.866-2.013A24.204 24.204 0 0112 12.75zm0 0c2.883 0 5.647.508 8.207 1.44a23.91 23.91 0 01-1.152 6.06M12 12.75c-2.883 0-5.647.508-8.208 1.44.125 2.104.52 4.136 1.153 6.06M12 12.75a2.25 2.25 0 002.248-2.354M12 12.75a2.25 2.25 0 01-2.248-2.354M12 8.25c.995 0 1.971-.08 2.922-.236.403-.066.74-.358.795-.762a3.778 3.778 0 00-.399-2.25M12 8.25c-.995 0-1.97-.08-2.922-.236-.402-.066-.74-.358-.795-.762a3.734 3.734 0 01.4-2.253M12 8.25a2.25 2.25 0 00-2.248 2.146M12 8.25a2.25 2.25 0 012.248 2.146M8.683 5a6.032 6.032 0 01-1.155-1.002c.07-.63.27-1.222.574-1.747m.581 2.749A3.75 3.75 0 0115.318 5m0 0c.427-.283.815-.62 1.155-.999a4.471 4.471 0 00-.575-1.752M4.921 6a24.048 24.048 0 00-.392 3.314c1.668.546 3.416.914 5.223 1.082M19.08 6c.205 1.08.337 2.187.392 3.314a23.882 23.882 0 01-5.223 1.082" />
                </svg>
 
              <h1 class=" text-white">Offensive Security</h1>
              <h1 class=" text-white">Ethical Hacking</h1>
              <h1 class=" text-white">Exploiting Vulnerabilities</h1>
              <h1 class=" text-white">Penetration Test</h1>
              <h1 class=" text-white">Black Bow Testing</h1>
              <h1 class=" text-white">Social Engineering</h1>
              <h1 class=" text-white">Web App Testing</h1>
            </div>

        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-4 sm:px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:py-32 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-7xl font-bold tracking-tight text-white">Berscherming is maatwerk.</h2>
            <p class="mt-4 text-2xl text-white">Nu we weten welke invalshoeken gevaarlijk zijn, kunnen we deze beschermen. In deze fase adviseren we de gepaste oplossingen en zorgen we voor de implentaties ervan. Nadien nog even testen als kwaliteitscontrole.</p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 col-start-1 lg:mt-0">
        <div class=" pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0 bg-gradient-to-r from-cyan-500 to-blue-500 rounded-lg">
            <div class="p-20">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
              </svg>
  
              <h1 class=" text-white">Defensive Security</h1>
              <h1 class=" text-white">Infrastructure protection</h1>
              <h1 class=" text-white">Damage Control</h1>
              <h1 class=" text-white">Incident Response</h1>
              <h1 class=" text-white">Operational Security</h1>
              <h1 class=" text-white">Threat Hunting</h1>
              <h1 class=" text-white">Digital Forensics</h1>
            </div>        
        </div>
      </div>
    </div>
  </div>
    <div class="mt-24">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-7xl font-bold tracking-tight text-white">Blijf beschermt.</h2>
            <p class="mt-4 text-2xl text-white">In deze digitale wereld is niets voor altijd beschermd. Een voltijdse bescherming behouden is onmisbaar als u zorgeloos wilt groeien. </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class=" pl-4 sm:pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
<div>
  <ul role="list" class="divide-y divide-gray-200">
    <li class="m-2 bg-white rounded-lg">
      <div class="flex space-x-3 p-2">
        <img class="pl-3 h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" alt="">
        <div class="">
          <div class="items-center">
            <p class="text-2xl font-medium text-black">Jana Devroe<br><span class="text-2xl text-gray-600 font-medium">Tot volgende week, dan komt ons rode team weer testen.</span></p>
          </div>
        </div>
      </div>
    </li>
    <li class="m-2 bg-white rounded-lg">
      <div class="flex space-x-3 p-2">
        <img class="pl-3 h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        <div class="">
          <div class="items-center">
            <p class="text-2xl font-medium text-black">Peter Sterkendries<br><span class="text-2xl text-gray-600 font-medium">Ok, ik zal het rapport dan lezen.</span></p>
          </div>
        </div>
      </div>
    </li>
    <li class="m-2 bg-white rounded-lg">
      <div class="flex space-x-3 p-2">
        <img class="pl-3 h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" alt="">
        <div class="">
          <div class="items-center">
            <p class="text-2xl font-medium text-black">Jana Devroe<br><span class="text-2xl text-gray-600 font-medium">In ieder geval, wij zijn er 24/7.</span></p>
          </div>
        </div>
      </div>
    </li>

    <!-- More items... -->
  </ul>
</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-7xl font-bold tracking-tight text-orange-500 sm:text-7xl">
      <span class="block">Bescherm uw bedrijf.</span>
      <span class="block">Breng uw veiligheid in orde.</span>
    </h2>
  </div>
</div>



<div class="relative bg-dark-900 py-16 sm:py-24 lg:py-32" id="hacking">
  <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-lg font-semibold text-white">Hacking</h2>
    <p class="mt-2 text-4xl font-bold tracking-tight text-gray-200 sm:text-4xl">Bescherming tegen hacks die tijd en geld kosten.</p>
    <p class="mx-auto mt-5 max-w-prose text-2xl text-gray-200">Onze audit bestaat uit standaardtesten en experttesten. Onze experttesten zijn niet-openbaar, maar hieronder vindt u een overzicht van onze standaardtesten.</p>
    <div class="mt-12">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        <div class="pt-6">
          <div class="flow-root px-6 pb-8">
            <div class="-mt-6 p-5">
              <div>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900"></h3>
              <p class="mt-5 text-lg text-white font-semibold"><span class="text-orange-500">BGW Pentesten. </span> De 3 penetratietesten worden uitgevoerd om de aanvallen op verschillende niveaus te evalueren.</p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root px-6 pb-8">
            <div class="-mt-6">
              <div>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900"></h3>
              <p class="mt-5 text-lg text-white font-semibold"><span class="text-orange-500">SQL-injectie. </span> SQL-injectie. Een code-injectietechniek die uw database kan vernietigen. SQL-injectie is een van de meest voorkomende technieken voor het hacken van websites.</p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root px-6 pb-8">
            <div class="-mt-6">
              <div>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900"></h3>
              <p class="mt-5 text-lg text-white font-semibold"><span class="text-orange-500">Bruteforce.</span> Een brute force-aanval is een hackmethode waarbij met vallen en opstaan​wachtwoorden, inloggegevens en coderingssleutels worden gekraakt. Het is eenvoudig maar betrouwbaar</p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root px-6 pb-8">
            <div class="-mt-6">
              <div>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900"></h3>
              <p class="mt-5 text-lg text-white font-semibold"><span class="text-orange-500">Network Hacking.</span> Het verzamelen van informatie van netwerk en computers via internet en intranet.</p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root px-6 pb-8">
            <div class="-mt-6">
              <div>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900"></h3>
              <p class="mt-5 text-lg text-white font-semibold"><span class="text-orange-500">Datagathering.</span> Het verzamelen en meten van informatie over gerichte variabelen in een vastgesteld systeem.</p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root px-6 pb-8">
            <div class="-mt-6">
              <div>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900"></h3>
              <p class="mt-5 text-lg text-white font-semibold"><span class="text-orange-500">Cross Site Scripting.</span> Aanval waarbij kwaadaardige scripts in de code van een vertrouwde applicatie of website injecteert.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="bg-dark-900">
  <div class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-7xl font-bold tracking-tight text-white sm:text-7xl">
      <span class="block">Preventie is beter dan genezing.</span>
      <span class="block">Start vandaag nog.</span>
    </h2>
    <p class="mt-4 text-2xl leading-6 text-white">Velen denk dat het niet nodig is ... totdat het gebeurd is. Dagelijks worden er 30 000 websites gehacked. Elke 39 seconden is er een nieuwe aanval.</p>
  </div>
</div>





<div class="relative bg-white">
  <div class="absolute inset-0" aria-hidden="true">
    <div class="absolute inset-y-0 right-0 w-1/2 bg-orange-500"></div>
  </div>
  <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-2 lg:px-8">
    <div class="bg-white py-16 px-4 sm:py-24 sm:px-6 lg:px-0 lg:pr-8">
      <div class="mx-auto max-w-lg lg:mx-0">
        <h2 class="text-lg font-semibold text-orange-500 uppercase">Volledige bescherming</h2>
        <p class="mt-2 text-4xl font-bold text-gray-900 sm:text-4xl sm:tracking-tight">Alles wat je nodig hebt om dit jaar volledig beschermd te zijn.</p>
        <dl class="mt-12 space-y-10">
          <div class="relative">
            <dt>
              <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-white">
                <!-- Heroicon name: outline/bars-4 -->
                <svg class="h-6 w-6 text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                </svg>
              </div>
              <p class="ml-16 text-lg font-medium leading-6 text-gray-900">AUDIT</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-900">Het NINJA-rapport geeft een volledig beeld van de huidige digitale veiligheid van uw bedrijf.</dd>
          </div>

          <div class="relative">
            <dt>
              <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-white">
                <!-- Heroicon name: outline/view-columns -->
                <svg class="h-6 w-6 text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 4.5v15m6-15v15m-10.875 0h15.75c.621 0 1.125-.504 1.125-1.125V5.625c0-.621-.504-1.125-1.125-1.125H4.125C3.504 4.5 3 5.004 3 5.625v12.75c0 .621.504 1.125 1.125 1.125z" />
                </svg>
              </div>
              <p class="ml-16 text-lg font-medium leading-6 text-gray-2">BEVEILIGING</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-900">Het SHIELD systeem geeft de nodige bescherming tegen de gevonden zwaktepunten in de audit.</dd>
          </div>

          <div class="relative">
            <dt>
              <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-white">
                <!-- Heroicon name: outline/calendar -->
                <svg class="h-6 w-6 text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                </svg>
              </div>
              <p class="ml-16 text-lg font-medium leading-6 text-gray-900">ONDERHOUD</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-900">Een maandelijks abbonement houdt het bedrijf scherp tegen nieuwe aanvallen. Het mooie is, géén opzegtermijn.</dd>
          </div>

          <div class="relative">
            <dt>
              <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-white">
                <!-- Heroicon name: outline/users -->
                <svg class="h-6 w-6 text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                </svg>
              </div>
              <p class="ml-16 text-lg font-medium leading-6 text-gray-900">ISO27001 implementeren</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-900">Door onze profesionele begeleiding is uw bedrijf in een mum van tijd klaar om zijn ISO27001 certificaat te behalen.</dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="bg-orange-500 py-16 px-4 sm:py-24 sm:px-6 lg:flex lg:items-center lg:justify-end lg:bg-none lg:px-0 lg:pl-8">
      <div class="mx-auto w-full max-w-lg space-y-8 lg:mx-0">
        <div>
          <h2 class="sr-only">Price</h2>
          <p class="relative grid grid-cols-2">
            <span class="flex flex-col text-center">
              <span class="text-5xl font-bold tracking-tight text-white">€6 999</span>
              <span class="mt-2 text-base font-medium text-black uppercase">Security Setup</span>
              <span class="sr-only">plus</span>
            </span>
            <span class="pointer-events-none absolute flex h-12 w-full items-center justify-center" aria-hidden="true">
              <!-- Heroicon name: outline/plus -->
              <svg class="h-6 w-6 text-yellow-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
            </span>
            <span>
              <span class="flex flex-col text-center">
                <span class="text-5xl font-bold tracking-tight text-white">€499</span>
                <span class="mt-2 text-base font-medium text-black uppercase">per maand</span>
              </span>
            </span>
          </p>
        </div>
        <ul role="list" class="grid gap-px overflow-hidden rounded sm:grid-cols-2">
          <li class="flex items-center space-x-3 bg-orange-500 bg-opacity-50 py-4 px-4 text-base text-white">
            <!-- Heroicon name: outline/check -->
            <svg class="h-6 w-6 text-yellow-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <span>Standaard + Expert Audit</span>
          </li>

          <li class="flex items-center space-x-3 bg-orange-500 bg-opacity-50 py-4 px-4 text-base text-white">
            <!-- Heroicon name: outline/check -->
            <svg class="h-6 w-6 text-yellow-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <span>Oplossingsarchitectuur</span>
          </li>

          <li class="flex items-center space-x-3 bg-orange-500 bg-opacity-50 py-4 px-4 text-base text-white">
            <!-- Heroicon name: outline/check -->
            <svg class="h-6 w-6 text-yellow-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <span>Handleiding beveiligingsystemen</span>
          </li>

          <li class="flex items-center space-x-3 bg-orange-500 bg-opacity-50 py-4 px-4 text-base text-white">
            <!-- Heroicon name: outline/check -->
            <svg class="h-6 w-6 text-yellow-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <span>24/7 support</span>
          </li>

          <li class="flex items-center space-x-3 bg-orange-500 bg-opacity-50 py-4 px-4 text-base text-white">
            <!-- Heroicon name: outline/check -->
            <svg class="h-6 w-6 text-yellow-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <span>Geen opzegtermijn</span>
          </li>

          <li class="flex items-center space-x-3 bg-orange-500 bg-opacity-50 py-4 px-4 text-base text-white">
            <!-- Heroicon name: outline/check -->
            <svg class="h-6 w-6 text-yellow-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <span>ISO27001 implementatie</span>
          </li>
        </ul>
        <a data-tf-popup="VO53CcNA" data-tf-size="100" class="flex items-center justify-center rounded-md border border-transparent bg-white px-8 py-4 text-lg font-medium leading-6 text-black hover:bg-yellow-200 md:px-10 uppercase">Nu starten</a>
        <a data-tf-popup="ztEX5BcT" data-tf-size="100" class="block text-center text-base font-semibold text-white hover:text-white">Gratis veiligheidsassessment</a>
      </div>
    </div>
  </div>
</div>





<div class="bg-white">
  <!-- Header -->
  <div class="relative bg-yellow-800 pb-32">
    <div class="absolute inset-0">
      <img class="h-full w-full object-cover" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1667918060/freedivecourses_ajx7pv.png" alt="">
      <div class="absolute inset-0 bg-gray-800 mix-blend-multiply" aria-hidden="true"></div>
    </div>
    <div class="relative mx-auto max-w-7xl py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold tracking-tight text-white md:text-5xl lg:text-6xl">Discreet en Anoniem</h1>
      <p class="mt-6 max-w-3xl text-xl text-gray-200">Samoray is een onafhankelijke digitale inlichtingen- en veiligheidsdienst gevestigd in België, gewijd aan het handhaven van de bedrijfsvoering en het beschermen van bedrijven tegen hackers en andere grote digitale bedreigingen.</p>
    </div>
  </div>

  <!-- Overlapping cards -->
  <section class="relative z-10 mx-auto -mt-32 max-w-7xl px-4 pb-32 sm:px-6 lg:px-8" aria-labelledby="contact-heading">
    <h2 class="sr-only" id="contact-heading">Contact us</h2>
    <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
      <div class="flex flex-col rounded-2xl bg-white shadow-xl">
        <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
          <h3 class="text-3xl font-medium text-gray-900">Standaardtesten</h3>
          <p class="mt-4 text-base text-gray-500">De basis testen worden uitgevoerd tijdens een audit om uw bedrijf een minimum aan cyberbeveiliging te bieden.</p>
        </div>
        <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8">
          <a href="#" class="text-base font-medium text-yellow-800 hover:text-yellow-900">Contacteer ons<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

      <div class="flex flex-col rounded-2xl bg-white shadow-xl">
        <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">

          <h3 class="text-3xl font-medium text-gray-900">Experttesten</h3>
          <p class="mt-4 text-base text-gray-500">Samoray is gemaakt en bestaat uit hackers die altijd doen waar ze goed in zijn. Maar dit voor uw veiligheid te garanderen. </p>
        </div>
        <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8">
          <a href="#" class="text-base font-medium text-yellow-800 hover:text-yellow-900">Contacteer ons<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

      <div class="flex flex-col rounded-2xl bg-white shadow-xl">
        <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
          <h3 class="text-3xl font-medium text-gray-900">ISO27001</h3>
          <p class="mt-4 text-base text-gray-500">Implementatie van alle normeisen en beheersmaatregelen uit ISO 27001, risicobeoordeling, beleidsdocumenten, AVG verwerkingregister, ...</p>
        </div>
        <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8">
          <a href="#" class="text-base font-medium text-yellow-800 hover:text-yellow-900">Contacteer ons<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>
    </div>
  </section>
</div>







<div class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-4 text-center sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-7xl font-bold tracking-tight text-gray-900 sm:text-7xl">
      <span class="block">Hoe veilig is uw bedrijf?</span>
      <span class="block">Doe de gratis test.</span>
    </h2>
    <div class="mt-8 flex justify-center">
      <div class="inline-flex rounded-md shadow">
        <a data-tf-popup="ztEX5BcT" data-tf-size="100" class="inline-flex items-center justify-center rounded-md border border-transparent bg-yellow-800 px-5 py-3 text-base font-medium text-white hover:bg-yellow-900">Start de test</a>
      </div>
      <div class="ml-3 inline-flex">
        <a data-tf-popup="VO53CcNA" class="inline-flex items-center justify-center rounded-md border border-transparent px-5 py-3 text-base font-medium text-yellow-800 hover:bg-yellow-200">Wij zijn gehackt!</a>
      </div>
    </div>
  </div>
</div>







<footer class="bg-white">
  <div class="mx-auto max-w-7xl overflow-hidden py-12 px-4 sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="#" class="text-base text-gray-500 hover:text-gray-900">terug naar boven</a>
      </div>
    </nav>
    <div class="mt-8 flex justify-center space-x-6">
      <a href="#" class="text-yellow-800 hover:text-gray-500">
        <span>LinkedIn</span>
      </a>

      <a href="#" class="text-yellow-800 hover:text-gray-500">
        <span>Instagram</span>
      </a>

      <a href="#" class="text-yellow-800 hover:text-gray-500">
        <span>Twitter</span>
      </a>

    </div>
    <p class="mt-8 text-center text-base text-gray-400">&copy; 2012 Samoray - Alle Rechten voorbehouden</p>
  </div>
</footer>
